<div class="form card">
  <div class="card-header">
    <h1>Create a new farm</h1>
  </div>
  
  <div class="card-body">
    <form method="POST" action="/farms">
      <div class="form-group">
    		<label for="name">Name of the Farm</label>
    		<input type="text" id="name" name="name" class="form-control">
    	</div>
    	
    	<div class="form-group">
    		<label for="location">Location</label>
    		<input type="text" id="location" name="location" class="form-control">
    	</div>
    	
    	<button type="submit" id="submit" class="btn btn-info">Add farm</button>
    </form>
  </div>
</div>