<h1><%= @farm.name %></h1>
<p><%= @farm.location %></p>

<h2>Vegetables</h2>
<a href="/vegetables/new">Add a vegetable</a>

<div>
  <a href="/farms/<%= @farm.slug %>/edit" class="btn btn-outline-info btn-sm">Edit farm</a>
</div>