body {
  background-color: #8FCC8F;
  color: #455a64;
}

header,
h1 {
  margin-bottom: 20px;
}

a {
  color: #BF360C;
}

a:hover {
  color: #E64A19;
  text-decoration: none;
}

/* Cards */
section.card,
.nested-card {
  margin-bottom: 1em;
}

.card h1 {
  margin-bottom: 0;
}

.nested-card a {
  color: #de7e13;
}

.nested-card a:hover {
  color: #ff9800;
}

.card-body > a {
  display: block;
  margin-top: 1em;
}

.card-footer {
  text-align: right;
}

.card-meta,
.card-meta a {
  color: #78909c;
}

.card-meta a:hover {
  color: #607d8b;
}

.below-card {
  text-align: center;
}

/* Navigation */
.navbar {
  background-color: #1E5D1D;
}

/* Onboarding */
.onboarding {
  background-color: white;
  margin-top: 3em;
}

.onboarding .login-button {
    margin-bottom: 0.5em;
}

/* Sign up and Login */
#signup-form.jumbotron,
#login-form.jumbotron {
  background-color: white;
  margin-top: 3em;
}

#signup-form button,
#login-form button {
  margin-bottom: 0.5em;
}

/* Dashboard */
.months {
  margin-bottom: 0;
}

#dashboard .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  display: block;
  color: white;
  background-color: #60c4d5;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  line-height: 1.15;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
}
.add-button:hover {
  text-decoration: none;
  color: gray;
  background-color: white;
  border: 2px gray solid;
  line-height: 1.1;
}

/* This Month */
#this-month h1 {
  font-size: 2em;
}

#this-month .card-footer {
  text-align: center;
}

/* Vegetables by Month */
#vegetables-by-month-index h1 {
  color: #3e3e3e;
}

#vegetables-by-month-index h2 a {
  color: #1e5d1d;
}

#vegetables-by-month-index h2 a:hover {
  color: #4caf50;
}

#vegetables-by-month-index a.add-link {
  color: #277d25;
}
#vegetables-by-month-index a.add-link:hover {
  text-decoration: underline;
}
  
#vegetables-by-month-index .card {
  margin-bottom: 2em;
}

#vegetables-by-month .card-footer {
  text-align: center;
}

#vegetables-by-month .card-footer .footer-nav {
  display: flex;
  justify-content: space-between;
}

/* Forms */
.card-footer .form-group {
  margin-bottom: 0;
}

