body {
  background-color: #8FCC8F;
}

a {
  color: #BF360C;
}
a:hover {
  color: #E64A19;
}

header,
h1 {
  margin-bottom: 20px;
}

.navbar {
  background-color: #1E5D1D;
}

/* Onboarding */
.onboarding {
  margin-top: 3em;
}

.onboarding .login-button {
    margin-bottom: 0.5em;
}