<div class="jumbotron onboarding">
  <h1><%= t('onboarding.welcome') %></h1>
  <p class="lead"><%= t('onboarding.catchphrase') %></p>
  <hr class="my-4">
  <a class="login-button btn btn-outline-success btn-lg" href="/signup" role="button">Sign up</a>
  <p><small><%= t('onboarding.have_account') %> <a href="/login"><%= t('onboarding.login_now') %></a>.<small></p>
</div>