<div class="jumbotron onboarding">
  <h1>Welcome to Veggie Tracker!</h1>
  <p class="lead">Veggie Tracker is a simple way to keep track of which vegetables you need to plant every month.</p>
  <hr class="my-4">
  <p>Create an account or login.</p>
  <a class="login-button btn btn-outline-success btn-lg" href="#" role="button">Sign up</a>
  <p><small>Have an account? <a href="/login">Login now</a>.<small></p>
</div>