<div id="dashboard">
  <section id="this-month" class="card">
    <%= erb :'users/partials/this-month' %>
  </section>

  <section id="farms" class="card">
    <%= erb :'users/partials/farm-list' %>
  </section>

  <section id="vegetables" class="card">
    <%= erb :'users/partials/vegetable-list' %>
  </section>
</div>
